﻿@model Trademusic.Web.Areas.Admin.Models.Instrument.InstrumentCreateViewModel

@{
    ViewBag.Title = Resources.Language.ADMINISTRATION;
}

<h2 class="adminTitle">Editar instrumento</h2>

@using (Html.BeginForm("Edit", "Instrument", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal" id="formAdmin">
        @Html.HiddenFor(m => m.Instrument.Id)
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.Label("Usuario", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Instrument.User.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Instrument.User.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Marca", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Instrument.Brand, new { @class = "form-control"})
                @Html.ValidationMessageFor(model => model.Instrument.Brand, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Modelo", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Instrument.Model, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Instrument.Model, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Precio", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Instrument.Price, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Instrument.Price, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Fecha", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Instrument.DateTime, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Instrument.DateTime, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Descripción", new { @class = "control-label col-md-3" })
            <div class="col-md-7">
                @Html.TextAreaFor(model => model.Instrument.Description, new { @class = "txtAreaAdmin form-control"})
                @Html.ValidationMessageFor(model => model.Instrument.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Familia", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Instrument.FamilyId, Model.Family, new { @class = "ddlAdmin form-control" })
                @Html.ValidationMessageFor(model => model.Instrument.FamilyId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Imagen", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Images, null, new { type = "file", @class = "input-file", @multiple = true })
                @Html.ValidationMessageFor(model => model.Images, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" style="margin-top: 30px;">
            @foreach (var image in Model.ImagesFiles)
                {
                <img src="@image" style="width: 100px; max-height: 100px" />
            }
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Editar" class="btn btn-primary" id="btnAdmin" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Volver al listado", "Index", "", new { @class = "btnVolver" })
</div>

