﻿@using System.Linq
@model Trademusic.Web.Models.App.FamilyMenuViewModel

<div class="panel-group category-instruments" id="accordian">
    <div class="panel panel-default">
        @foreach (var f in Model.SonFamily)
        {
            <h4 class="panel-title" sstyle="background-color: #f5f5f5;"></h4>
                <a href="#fam@(f.ParentFamily.Id)">
                    @foreach (var r in Model.SonFamily.Where(r => r.ParentFamily.Id == f.ParentFamily.Id))
                    {
                        foreach (var t in r.SonFamily)
                        {
                            <ul id="listaFamiliasLeftSidebar">
                                <li>
                                    @{
                                        var lang = ViewData["userLanguage"].ToString();
                                        if (lang == "en")
                                        {
                                            @Html.ActionLink(@t.ParentFamily.EnglishName, "Index", "App", new { family = t.ParentFamily.Id }, new { @class = "families" });
                                        }
                                        else
                                        {
                                            @Html.ActionLink(t.ParentFamily.Name, "Index","App", new { family = t.ParentFamily.Id }, new { @class = "families" });
                                        }
                                    }
                                </li>
                            </ul>
                        }
                    }
                </a>
        }
    </div>
</div>




