﻿@model IEnumerable<Trademusic.Web.Models.App.InstrumentListViewModel>

@foreach (var p in Model)
{
    <div class="col-md-12" id="marcoInstrumento">
        <div class="col-md-12" id="fichaInstrumento">
            <div>
                <a href="@Url.Action("Details", "App", new { id = p.Id })">
                    <div id="imagenlistainstrumento" class="col-md-4">
                        <img src="@p.Image" id="imagenInstrumento" />
                    </div>
                </a>
                <div class="col-md-8">
                    <h3 class="col-md-12" id="tituloInstrumento">@Resources.Language.SELL @p.Name</h3>
                    <p id="instrumentoDescripcion">@p.Description</p>
                </div>
            </div>
        </div>
        <div id="pieImagen" class="col-md-12">
            <div id="pie">
                <span class="fa fa-map-marker" id="partePie">
                    @p.User.City
                </span>
                <span class="fa fa-user" id="partePie">
                    @p.User.Name
                </span>
                <span class="fa fa-calendar" id="partePie">
                    @p.DateTime.Date
                </span>
                <h3 id="instrumentoPrecio">@p.Price €</h3>
            </div>
        </div>
    </div>   
}