﻿@model Trademusic.Web.Models.App.InstrumentDetailsViewModel

@using (Html.BeginForm("MessageModalResponse", "App", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Id);
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">@Resources.Language.WRITE_YOUR_MESSAGE</h4>
    </div>
    <div class="modal-body">
        <div class="alert alert-success" id="cuerpoModal">
            @if (!User.Identity.IsAuthenticated)
            {
                <div class="form-group" id="modalNombre">
                    @Html.Label(Resources.Language.NAME, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="form-group" id="modalEmail">
                    @Html.Label(Resources.Language.EMAIL, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.EditorFor(model => model.UserEmail, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            }
            <div class="form-group">
                @Html.Label(Resources.Language.MESSAGE, new { htmlAttributes = new { @class = "form-control" } })
                @Html.TextAreaFor(model => model.Text, 10, 80, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="row">
            &nbsp;
        </div>
        <div class="row">
            <button type="submit" id="btnEnviarMensaje" class="btn btn-primary">@Resources.Language.SEND</button>
        </div>
    </div>
}

<script type="text/javascript">
    $(function () {
        
        //Método que oculta la modal cuando se envía el mensaje
        $('#btnEnviarMensaje').click(function () {
            $('#modal-container').modal('hide');
        });
    });

    //Método que muestra en la barra de menú la cantidad de mensajes que tiene el usuario sin leer
    $("btnEnviarMensaje").click(function () {
        ViewData["MessagesCount"] = ViewData["MessagesCount"] + 1;
    });
</script>
