﻿@model Trademusic.Web.Models.App.InstrumentDetailsViewModel

    <div class="col-md-12" id="marcoInstrumento">
        <div class="col-md-12" id="fichaUsuario">
            <h2 style="text-align:center;">@Resources.Language.USER</h2>
            <div class="seccionUserSidebar">
                <div id="imagenlistainstrumento" class="col-md-4">
                    <img src="@ViewBag.UserImage" style="max-width: 100px; max-height: 100px; width: auto; float: left;"/>
                 </div>
                <div>
                    <h3 id="nombreUsuario">@Model.User.Name</h3>
                    <h5 id="ciudadUsuario">@Model.User.City</h5>
                </div>
            </div>
        </div>
    </div>
