﻿@model Trademusic.Web.Models.App.InstrumentDetailsViewModel
@{
    ViewBag.Title = Resources.Language.INSTRUMENT;
}

<link href="~/Content/map.css" rel="stylesheet" />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <section id="appIndex">
        <div class="container">
            <div class="row" id="seccionContenedor">
                <div class="col-md-9 " id="seccionLista">
                    <div class="instrument-details">
                        <h3 id="detailsTitle">@Resources.Language.SELL @Html.DisplayFor(model => model.Instrument.FullName) <span id="precioDetalle">@Html.DisplayFor(model => model.Instrument.Price)€</span></h3>
                        <div id="gal1" class="col-md-9 col-md-offset-1">
                            <div class="item" style="background-image: @Model.Image">
                                <img id="zoom_03" src="@Model.Image" data-zoom-image="@Model.Image" alt="" />
                            </div>
                            <div id="similar-instrument" class="carousel-img">
                                <div class="carousel-inner">
                                    <div class="img-box" style="height: auto; width: auto">
                                        @foreach (var image in Model.ImagesFiles)
                                        {
                                            <a href="#" data-image="@image" data-zoom-image="@image" id="detailsImagenMin">
                                                <img id="im" src="@image" alt="">
                                            </a>
                                        }
                                    </div>
                                </div>
                            </div>
                            <p>
                                <b>@Html.Label(Resources.Language.DESCRIPTION):</b> @Html.DisplayFor(model => model.Instrument.Description)
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="instrument-information">
                        <div>
                            @{ Html.RenderPartial("_UserProfile", Model);}
                        </div>
                        <span id="btnModal">
                            @Html.ActionLink(Resources.Language.SEND_MESSAGE_TO_SELLER, "MessageModal", "App", new { id = Model.Id }, new { @class = "modal-link btn btn-primary" })
                        </span>
                        <p>
                            <div id="mini-map" style="height: 250px; width: 243px"></div>
                        </p>
                        <span>
                            @Html.ActionLink(Resources.Language.ADD_TO_FAVORITES, "AddToFavorites", "UserSection", new { id = Model.Id }, new { @class = "addFavorites btn btn-primary" })
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </section>
}

<div id="modal-container" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-content">
    </div>
</div>

@section Scripts
{
    @*<script src="http://maps.googleapis.com/maps/api/js"></script>*@
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAWIlRyhaewhhhpdf_POXBdFSbdP4uJm_U&libraries=places&callback=initMap" async defer></script>
    <script type="text/javascript">
        var id = @Model.Id;

        $(document).ready(function() {
            initMap();
        });

        var $ = jQuery.noConflict();

        //Método que elige una imagen de una galería de imágenes
        $("#zoom_03").elevateZoom({ gallery: 'gal1', cursor: 'pointer', galleryActiveClass: 'active', imageCrossfade: true });
        $("#zoom_03").bind("click", function(e) {
            var ez = $('#zoom_03').data('elevateZoom');
            $.fancybox(ez.getGalleryList());
            return false;
        });

        //Muestra el mapa pequeño de la parte derecha de la pantalla
        function initMap() {
            var myLatLng = { lat: @Model.User.Latitude, lng: @Model.User.Longitude};

            var map = new google.maps.Map(document.getElementById('mini-map'), {
                zoom: 15,
                center: myLatLng,
                mapTypeControl: false,
                panControl: false,
                zoomControl: false,
                streetViewControl: false
            });

            var marker = new google.maps.Marker({
                position: myLatLng,
                map: map
            });
        }
    </script>
}


