﻿@using Microsoft.Ajax.Utilities
@model PagedList.IPagedList<Trademusic.Web.Models.App.InstrumentListViewModel>
@using PagedList.Mvc

<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
<link href="~/Content/PagedList.css" rel="stylesheet" />

@{
    ViewBag.Title = Resources.Language.INSTRUMENT_LIST;
}

<section id="appIndex">
    <div class="container">
        <div class="row" id="seccionContenedorLista">
            <div class="col-sm-3" id="seccionFiltros">
                <div class="left-sidebar">
                    <h2>@Resources.Language.CATEGORIES</h2>
                    <div class="seccionLeftSidebar">
                        @Html.Action("FamilyMenu", "App")
                    </div>
                    <h2>@Resources.Language.BRANDS</h2>
                    <div class="seccionLeftSidebar">                           
                            <div id="brandsection">
                                <ul class="collap" id="marcasLeftSidebar">
                                    @foreach (var p in Model.DistinctBy(p => p.Brand))
                                    {
                                        <li>
                                            @Html.ActionLink(p.Brand, "IndexBrand", "App", new { @family = ViewBag.family, @brand = p.Brand }, new { @class = "brands" })
                                        </li>
                                    }
                                </ul>
                            </div>
                    </div>
                    <h2>@Resources.Language.PRICE_RANGE</h2>
                    <div class="seccionLeftSidebar">
                        <div id="price-range">   
                            <div class="nav nav-pills nav-stacked" id="priceRangeRadio">
                                <ul class="collap" id="marcasLeftSidebar">
                                    <li>
                                        @Html.ActionLink("0 - 500€", "IndexPriceRange", "App", new { @family = ViewBag.family, @price1 = 0, @price2 = 500 }, new { @id = "priceRange1" })
                                    </li>
                                    <li>
                                        @Html.ActionLink("500 - 1.000€", "IndexPriceRange", "App", new { @family = ViewBag.family, @price1 = 500, @price2 = 1000 }, new { @id = "priceRange2" })
                                    </li>
                                    <li>
                                        @Html.ActionLink("1.000 - 1.500€", "IndexPriceRange", "App", new { @family = ViewBag.family, @price1 = 1000, @price2 = 1500 }, new { @id = "priceRange3" })
                                    </li>
                                    <li>
                                        @Html.ActionLink("1.500 - 2.000€", "IndexPriceRange", "App", new { @family = ViewBag.family, @price1 = 1500, @price2 = 2000 }, new { @id = "priceRange4" })
                                    </li>
                                    <li>
                                        @Html.ActionLink("> 2.000€", "IndexPriceRange", "App", new { @family = ViewBag.family, @price1 = 2000, @price2 = 20000 }, new { @id = "priceRange5" })
                                    </li>  
                                </ul>                                      
                            </div>
                        </div>
                    </div>
                    <h2>@Resources.Language.CITIES</h2>
                    <div class="seccionLeftSidebar">
                        <div id="citysection">
                            <ul class="collap" id="marcasLeftSidebar">
                                @foreach (var p in Model.DistinctBy(p => p.User.City))
                                {
                                    <li>
                                        @Html.ActionLink(p.User.City, "IndexCity", "App", new { @family = ViewBag.family, @city = p.User.City }, new { @class = "cities" })
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-9 padding-right" id="seccionLista">
                <div class="features_items">
                    <div id="dvList">
                        @{ Html.RenderPartial("_ListPartial", Model);}
                    </div>
                    <div id="indexPag">
                        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, @family = ViewBag.family, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
