﻿
<div class="left-sidebar">
    <div>
        <img id="mainImageLeft" class="img-rounded" src="@ViewBag.Image" />
    </div>
    <ul class="sidebar-menuLeft">
        <li class="headerLeft">
            <b>@ViewBag.User.Name</b>
        </li>
        <li class="treeviewLeft">
            <a href="#">
                <i class="fa fa-user"></i>
                <span>@Html.ActionLink(Resources.Language.USER_INFO, "EditUser")</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
        </li>
        <li class="treeviewLeft">
            <a href="#">
                <i class="fa fa-refresh"></i>
                <span>@Html.ActionLink(Resources.Language.SELL_INSTRUMENT, "CreateInstrument")</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
        </li>
        <li class="treeviewLeft" id="mainInstrumentList">
            <a href="#">
                <i class="fa fa-list"></i>
                <span>@Html.ActionLink(Resources.Language.YOUR_INSTRUMENTS, "InstrumentList")</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
        </li>
        <li class="treeviewLeft" id="mainFavoriteList">
            <a href="#">
                <i class="fa fa-thumbs-o-up"></i>
                <span>@Html.ActionLink(Resources.Language.FAVORITES, "Favorites")</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
        </li>
        <li class="treeviewLeft" id="mainMessageList">
            <a href="#">
                <i class="fa fa-file-text-o"></i>
                <span>@Html.ActionLink(Resources.Language.MESSAGES, "MessageList")</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
        </li>
    </ul>
</div>       

<script src="/Scripts/jquery-2.2.3.js"></script>
<script>

    //Método que valida si tiene instrumentos en el listado de instrumentos
     $('#mainInstrumentList').click(function(){
        if (@ViewBag.instruments == 0) {
            alert('@Resources.Language.NO_INSTRUMENTS');
            return false;
        };
    });

    //Método que valida si tiene favoritos en el listado de favoritos
    $('#mainFavoriteList').click(function(){
        if(@ViewBag.favorites == 0){
            alert('@Resources.Language.NO_FAVORITES');
            return false;
        }
    });

    //Método que valida si tiene mensajes en el listado de mensajes
    $('#mainMessageList').click(function(){
        if(@ViewBag.messages == 0){
            alert('@Resources.Language.NO_MESSAGES');
            return false;
        };
    });
</script>
