﻿@model Trademusic.Web.Models.UserSection.InstrumentCreateViewModel
@{
    ViewBag.Title = Resources.Language.INSTRUMENT;
}

<div class="container" id="mainContainer">
    <div class="row" id="seccionContenedorLista">
        <div class="col-sm-2" id="seccionFiltrosLeft">
            @{Html.RenderPartial("_LeftSideMenuUserSection");}
        </div>
        <div class="col-sm-10">
            <h2 class="titleUSListLeft">@Resources.Language.INSTRUMENT</h2>
            <legend class="recuadroLeft">
                @using (Html.BeginForm("CreateInstrument", "UserSection", FormMethod.Post, new { @enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="formulario">
                        <div class="form-horizontal">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                @Html.Label(Resources.Language.FAMILY, new { @class = "control-label col-md-3" })
                                <div class="col-md-7">
                                    @Html.DropDownListFor(model => model.Instrument.FamilyId, Model.Families, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Instrument.FamilyId, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.Label(Resources.Language.BRAND, new { @class = "control-label col-md-3" })
                                <div class="col-md-7">
                                    @Html.EditorFor(model => model.Instrument.Brand, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Instrument.Brand, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.Label(Resources.Language.MODEL, new { @class = "control-label col-md-3" })
                                <div class="col-md-7">
                                    @Html.EditorFor(model => model.Instrument.Model, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Instrument.Model, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.Label(Resources.Language.PRICE, new { @class = "control-label col-md-3" })
                                <div class="col-md-7">
                                    @Html.EditorFor(model => model.Instrument.Price, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Instrument.Price, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.Label(Resources.Language.DESCRIPTION, new { @class = "control-label col-md-3" })
                                <div class="col-md-7">
                                    @Html.EditorFor(model => model.Instrument.Description, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Instrument.Description, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.Label("Imagen", new { @class = "control-label col-md-3" })
                                <div class="col-md-7">
                                    @Html.TextBoxFor(model => model.Images, null, new { type = "file", @class = "input-file", @multiple = true })
                                    @Html.ValidationMessageFor(model => model.Images, "", new { @class = "text-danger" })

                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="@Resources.Language.PUBLISH" class="btn btn-primary btn-xl page-scroll" id="btnEditar" />
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </legend>
        </div>
    </div>
</div>


