﻿@model Trademusic.Web.Models.UserSection.UserCreateViewModel
@{
    ViewBag.Title = Resources.Language.EDIT_USER;
}

<div class="container" id="mainContainer">
    <div class="row" id="seccionContenedorLista">
        <div class="col-sm-2" id="seccionFiltrosLeft">
            @{Html.RenderPartial("_LeftSideMenuUserSection");}
        </div>
        <div class="col-sm-10">
            <h2 class="titleUSListLeft">@Resources.Language.EDIT_USER_INFO</h2>
            <legend class="recuadroLeft">
                @using (Html.BeginForm("EditUser", "UserSection", FormMethod.Post, new { @enctype = "multipart/form-data", @class = "form-horizontal" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="formulario">
                        @Html.ValidationSummary("", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.Label(Resources.Language.NAME, new { @class = "col-md-3 control-label" })
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.User.Name, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.User.Name, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.Label(Resources.Language.SURNAME1, new { @class = "col-md-3 control-label" })
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.User.SurName1, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.User.SurName1, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.Label(Resources.Language.SURNAME2, new { @class = "col-md-3 control-label" })
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.User.SurName2, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.User.SurName2, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.Label(Resources.Language.ADDRESS, new { @class = "col-md-3 control-label" })
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.User.Address, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.Label(Resources.Language.ZIPCODE, new { @class = "col-md-3 control-label" })
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.User.ZipCode, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.User.ZipCode, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.Label(Resources.Language.CITY, new { @class = "col-md-3 control-label" })
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.User.City, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.User.City, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.Label(Resources.Language.EMAIL, new { @class = "col-md-3 control-label" })
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.User.Email, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.User.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.Label(Resources.Language.IMAGE, new { @class = "control-label col-md-3" })
                            <div class="col-md-7">
                                @Html.TextBoxFor(model => model.Image, null, new { type = "file", @class = "input-file", @multiple = true })
                                @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <img src="@Model.ImageFile" style="width: 100px" />
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="@Resources.Language.EDIT" class="btn btn-primary btn-xl page-scroll" id="btnEditar" />
                            </div>
                        </div>
                    </div>
                }
            </legend>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}




