﻿@model IEnumerable<Trademusic.Web.Models.UserSection.FavoritesViewModel>
@{
    ViewBag.Title = Resources.Language.FAVORITES;
}

<div class="container" id="mainContainer">
    <div class="row" id="seccionContenedorLista">
        <div class="col-sm-2" id="seccionFiltrosLeft">
            @{Html.RenderPartial("_LeftSideMenuUserSection");}
        </div>
        <div class="col-sm-10">
            <section id="cart_items">
                <h2 class="titleUSListLeftMessage">@Resources.Language.FAVORITES</h2>

                <div class="table-responsive cart_info" id="tablaFavoritos">
                    <table class="table table-condensed">
                        <thead>
                            <tr class="cart_menu">
                                <td class="image">@Resources.Language.IMAGE</td>
                                <td class="description">@Resources.Language.INSTRUMENT</td>
                                <td class="price">@Resources.Language.PRICE</td>
                                <td class="quantity">@Resources.Language.CITY</td>
                                <td></td>
                            </tr>
                        </thead>
                        <tbody id="cuerpo">
                            @foreach (var instrument in Model)
                            {
                                <tr id="row-@instrument.FavoriteId" class="fila">
                                    <td>
                                        <img src="@instrument.Image" style="width: 100px; max-height: 100px;" />
                                    </td>
                                    <td class="cart-description">
                                        <h4><a href="">@Html.ActionLink(instrument.Brand + "-" + instrument.Model, "Details", "App", new { id = instrument.Id }, null)</a></h4>
                                    </td>
                                    <td class="cart-price">
                                        <p>@instrument.Price</p>
                                    </td>
                                    <td>
                                        <p>@instrument.City</p>
                                    </td>
                                    <td>
                                        <a class="RemoveLink" href="javascript:void(0);" data-id="@instrument.FavoriteId">@Resources.Language.DELETE</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </section>
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        $(function () {
            //Método que elimina un favorito del listado
            $(".RemoveLink").click(function () {
                var recordToDelete = $(this).attr("data-id");
                if (recordToDelete !== '') {
                    $.post("/UserSection/RemoveFromFavorites", { "favoriteId": recordToDelete },
                        function (data) {
                            //Si no quedan favoritos, elimina la fila
                            $('#row-' + data.DeleteId).fadeOut('slow');
                            location.reload();
                        });
                }
            });
        });
    </script>
}

