﻿@model IEnumerable<Trademusic.Web.Models.UserSection.FavoritesViewModel>
@{
    ViewBag.Title = Resources.Language.INSTRUMENT_LIST;
}

    <div class="container" id="mainContainer">
        <div class="row" id="seccionContenedorLista">
            <div class="col-sm-2" id="seccionFiltrosLeft">
                @{Html.RenderPartial("_LeftSideMenuUserSection");}
            </div>
            <div class="col-sm-10">
                <section id="cart_items">
                    <h2 class="titleUSListLeftInstrument">@Resources.Language.YOUR_INSTRUMENTS</h2>
                    <div class="table-responsive cart_info">
                        <table class="table table-condensed">
                            <thead>
                                <tr class="cart_menu">
                                    <td class="image"></td>
                                    <td class="description">@Resources.Language.INSTRUMENT</td>
                                    <td class="price">@Resources.Language.PRICE</td>
                                    <td class="date">@Resources.Language.DATE</td>
                                    <td class="total"></td>
                                    <td></td>
                                </tr>
                            </thead>
                            <tbody id="cuerpo">
                                @foreach (var instrument in Model)
                                {
                                    <tr id="row-@instrument.FavoriteId" class="fila">
                                        <td>
                                            <img src="@instrument.Image" style="width: 100px; max-height: 100px;" />
                                        </td>
                                        <td class="cart-description">
                                            <h4><a href="">@Html.ActionLink(instrument.Brand + "-" + instrument.Model, "Details", "App", new { id = instrument.Id }, null)</a></h4>
                                        </td>
                                        <td class="cart-price">
                                            <p>@instrument.Price</p>
                                        </td>
                                        <td>
                                            <p>@instrument.Date</p>
                                        </td>
                                        <td>
                                            <a href="@Url.Action("EditInstrument", "UserSection", new { id = instrument.Id })">@Resources.Language.EDIT</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </section>
            </div>
        </div>
    </div>

@section Scripts
{
    <script src="~/Scripts/jquery-2.2.3.js"></script>
    <script type="text/javascript">
        $(function() {
            //Método que elimina un instrumento
            $(".RemoveLink").click(function() {
                var recordToDelete = $(this).attr("data-id");
                if (recordToDelete !== '') {
                    $.post("/UserSection/RemoveFromFavorites", { "favoriteId": recordToDelete },
                        function(data) {
                            //Si no quedan unidades, elimina la fila
                            $('#row-' + data.DeleteId).fadeOut('slow');
                            location.reload();
                        });
                }
            });
        });
    </script>
 }