﻿@model Trademusic.Web.Models.UserSection.MainViewModel
@{
    ViewBag.Title = Resources.Language.USERS_SECTION;
}

<div class="col-md-12" id="main">
    <h2>@Resources.Language.USERS_SECTION</h2>
    <div>
        <img id="mainImage" class="img-rounded" src="@ViewBag.Image"/>
    </div>
    <div>
        <ul id="mainlist">
            <li>
                @Html.ActionLink(Resources.Language.USER_INFO, "EditUser", "", new { @class = "btnMainMenu btn btn-primary" })
            </li>
            <li>
                @Html.ActionLink(Resources.Language.SELL_INSTRUMENT, "CreateInstrument", "", new { @class = "btnMainMenu btn btn-primary" })
            </li>
            <li>
                @Html.ActionLink(Resources.Language.YOUR_INSTRUMENTS, "InstrumentList", "", new { @class = "btnMainMenu btn btn-primary", id = "mainInstrumentList" })
            </li>
            <li>
                @Html.ActionLink(Resources.Language.FAVORITES, "Favorites", "", new { @class = "btnMainMenu btn btn-primary", id = "mainFavoriteList" })
            </li>
            <li>
                @Html.ActionLink(Resources.Language.MESSAGES, "MessageList", "", new { @class = "btnMainMenu btn btn-primary", id = "mainMessageList" })
            </li>
        </ul>
    </div>
</div>
<script src="/Scripts/jquery-2.2.3.js"></script>
<script>

    //Método que valida si tiene instrumentos en el listado de instrumentos
    $('#mainInstrumentList').click(function(){
        if (@ViewBag.instruments == 0) {
            alert('@Resources.Language.NO_INSTRUMENTS');
            return false;
        };
    });

    //Método que valida si tiene favoritos en el listado de favoritos
    $('#mainFavoriteList').click(function(){
        if(@ViewBag.favorites == 0){
            alert('@Resources.Language.NO_FAVORITES');
            return false;
        }
    });

    //Método que valida si tiene mensajes en el listado de mensajes
    $('#mainMessageList').click(function(){
        if(@ViewBag.messages == 0){
            alert('@Resources.Language.NO_MESSAGES');
            return false;
        };
    });
</script>

