﻿@model Trademusic.Web.Models.UserSection.MessageViewModel
@{
    ViewBag.Title = Resources.Language.MESSAGE;
}

    @Html.AntiForgeryToken()
    <div class="container" id="mainContainer">
        <div class="row" id="seccionContenedorLista">
            <div class="col-sm-2" id="seccionFiltrosLeft">
                @{Html.RenderPartial("_LeftSideMenuUserSection");}
            </div>
            <div class="col-sm-10">
                <h2 class="titleUSListLeftMessageDetails">@Resources.Language.SELL @Model.Instrument.FullName</h2>
                <div class="col-md-12" id="marcoMensajeDetalle">
                    <div class="pieImagenMensaje col-md-12">
                        <div id="pieDetalle">
                            <span id="partePie">
                                <img src="@ViewBag.Image" style="max-width: 40px; max-height: 40px; width: auto" />
                            </span>
                            <span id="partePie">
                                @Resources.Language.ME
                            </span>
                        </div>
                    </div>
                    @using (Html.BeginForm())
                    {
                    <div class="col-md-12" id="fichaMensajeRespuesta">
                        <div id="mensajeRespuesta">
                            @Html.TextAreaFor(m => m.Message.Text, new { @cols = "80", @rows = "4", @id = "txtMessageText" })
                        </div>
                    </div>
                    <div class="row">
                        <button type="submit" id="btnEnviarMensaje" class="btn btn-primary">@Resources.Language.AWNSER</button>
                    </div>
                    }
                    <div class="pieImagenMensaje col-md-12">
                        <div id="pieDetalle">
                            <span id="partePie">
                                @if (File.Exists(HttpContext.Current.Request.PhysicalApplicationPath + "/Images/Users/" + Model.UserId + ".jpg"))
                                {
                                    <img src="@Model.ImageFile" style="max-width: 40px; max-height: 40px; width: auto" />
                                }
                                else {
                                    <img src="~/Images/Users/avatar.png" style="max-width: 40px; max-height: 40px; width: auto" />
                                }
                            </span>
                            <span id="partePie">
                                @Model.User
                            </span>
                            <span id="fechaPie">
                                @Model.Date
                            </span>
                        </div>
                    </div>
                    <div class="col-md-12" id="fichaMensajeDetalle">
                        <div>
                            <div>
                                <p id="mensajeDescripcion">@Model.Text</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

