﻿@model IEnumerable<Trademusic.Web.Models.UserSection.MessageViewModel>
@{
    ViewBag.Title = Resources.Language.MESSAGES;
}

<div class="container" id="mainContainer">
    <div class="row" id="seccionContenedorLista">
        <div class="col-sm-2" id="seccionFiltrosLeft">
            @{Html.RenderPartial("_LeftSideMenuUserSection");}
        </div>
        <div class="col-sm-10">
            <h2 class="titleUSListLeftMessage">@Resources.Language.MESSAGE_LIST</h2>
            @foreach (var message in Model)
            {
                <a class="RemoveLink" href="javascript:void(0);" data-id="@message.Id">
                    <div class="col-md-12" id="marcoMensaje">
                        <div class="col-md-12" id="fichaMensaje">
                            <div>
                                <a href="javascript:void(0);" class="RemoveLink" data-id="@message.Id">
                                    <div id="imagenlistamensaje" class="col-md-3">
                                        @if(File.Exists(HttpContext.Current.Request.PhysicalApplicationPath + "/Images/Users/" + message.UserId + ".jpg"))
	                                    {
                                            <img src="@message.ImageFile" style="width: 100px; max-height: 100px;" />
	                                    }else{
                                            <img src="~/Images/Users/avatar.png" style="width: 100px; max-height: 100px;" />
                                        }
                                    </div>
                                </a>
                                <div class="col-md-7">
                                    <h3 class="col-md-12" id="tituloInstrumento">@message.User </h3>
                                    <h3 id="instrumentoDescripcion">@Resources.Language.SELL @message.Instrument.FullName</h3>
                                </div>
                                <div class="detalleFecha col-md-2">
                                    <p id="instrumentoFecha">@message.Date</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            }
        </div>
    </div>
</div>
       
@section Scripts
{
    <script type="text/javascript">
        $(function () {
            //Método que actualiza los mensajes no leidos por el usuario
            $(".RemoveLink").click(function () {
                var recordRead = $(this).attr("data-id");
                if (recordRead !== '') {
                    $.post("/UserSection/MessageRead", { "Id": recordRead },
                        function (data) {
                            $('#message-status').text('Mensajes(' + data.MessagesCount + ')');
                            location.reload();
                            window.location.href = "http://trademusic2.azurewebsites.net/UserSection/MessageDetails/" + data.DeleteId;
                        });
                }
            });
        });
    </script>
 }