﻿@using System.Linq
@model Trademusic.Web.Models.App.FamilyMenuViewModel

<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li>
            <a href="#">
                @Resources.Language.INSTRUMENTS<i class="fa fa-angle-down"></i>
            </a>
            <ul class="sub-menu">
                <li>
                    @Html.ActionLink(Resources.Language.ELECTRIC_GUITARS, "Index", "App", new { family = 5 }, new { @class = "" })
                </li>
                <li>
                    @Html.ActionLink(Resources.Language.ACUSTIC_GUITARS, "Index", "App", new { family = 6 }, new { @class = "" })
                </li>
                <li>
                    @Html.ActionLink(Resources.Language.GUITAR_AMPS, "Index", "App", new { family = 7 }, new { @class = "" })
                </li>
                <li>
                    @Html.ActionLink(Resources.Language.GUITAR_EFECTS, "Index", "App", new { family = 8 }, new { @class = "" })
                </li>
                <li>
                    @Html.ActionLink(Resources.Language.ELECTRIC_BASSES, "Index", "App", new { family = 9 }, new { @class = "" })
                </li>
                <li>
                    @Html.ActionLink(Resources.Language.ACUSTIC_BASSES, "Index", "App", new { family = 10 }, new { @class = "" })
                </li>
                <li>
                    @Html.ActionLink(Resources.Language.BASS_AMPS, "Index", "App", new { family = 11 }, new { @class = "" })
                </li>
                <li>
                    @Html.ActionLink(Resources.Language.BASS_EFECTS, "Index", "App", new { family = 12 }, new { @class = "" })
                </li>
                <li>
                    @Html.ActionLink(Resources.Language.DRUMS, "Index", "App", new { family = 13 }, new { @class = "" })
                </li>
                <li>
                    @Html.ActionLink(Resources.Language.DRUM_PARTS, "Index", "App", new { family = 14 }, new { @class = "" })
                </li>
            </ul>
        </li>
        <li>
            @Html.ActionLink(Resources.Language.MAP, "Map", "Home", "", new { @class = "" })
        </li>
        <li>
            <a href="">@Resources.Language.LANGUAGE<i class="fa fa-angle-down"></i></a>
            <ul class="sub-menu">
                <li>@Html.ActionLink(Resources.Language.SPANISH, "Change", "Home", new { langAbrvtion = "es" }, null)</li>
                <li>@Html.ActionLink(Resources.Language.ENGLISH, "Change", "Home", new { langAbrvtion = "en" }, null))</li>
            </ul>
        </li>
        @if (User.Identity.IsAuthenticated)
        {
            <li>@Html.ActionLink(Resources.Language.USERS_SECTION, "Main", "UserSection", "", new { @class = "" })</li>
        }
        <li>
            @if (User.IsInRole("Admin"))
            {
                <a href="">Admin<i class="fa fa-angle-down"></i></a>
                <ul class="sub-menu">
                    <li>@Html.ActionLink(Resources.Language.INSTRUMENTS, "Index", "Instrument", new { area = "Admin" }, new { @class = "" })</li>
                    <li>@Html.ActionLink(Resources.Language.FAMILIES, "Index", "Family", new { area = "Admin" }, new { @class = "" })</li>
                    <li>@Html.ActionLink(Resources.Language.MESSAGES, "Index", "Message", new { area = "Admin" }, new { @class = "" })</li>
                    <li>@Html.ActionLink(Resources.Language.USERS, "Index", "User", new { area = "Admin" }, new { @class = "" })</li>
                </ul>
            }
        </li>
    </ul>

    @Html.Partial("_LoginPartial")
</div>

@section Scripts
{
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {

            //Método que pinta el listado de instrumentos con la categoría de instrumentos seleccionada desde la barra de menú
            $(".families").click(function () {
                var id = $(this).data("id");
                $.ajax({
                    url: '@Url.Action("ListByFamily", "App")',
                    type: 'GET',
                    data: { id: id }
                }).done(function (response) {
                    @Url.Action("Index", "App")
                    $("#dvList").html(response);
                });
            });
        });
    </script>
}