﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = Resources.Language.HELP;
}

<section id="appIndex">
    <div class="container">
        <div class="row" id="seccionContenedorTexto">
            <h1>@Resources.Language.HELP</h1>

            <div class="body">
                <h2 class="profile-subsection-title">@Resources.Language.BASIC_INFO</h2>
                <h3>@Resources.Language.HOW_DO_I_REGISTER</h3>
                    <p>@Resources.Language.HOW_DO_I_REGISTER_AWNSER_1 <a href="/Account/Register">@Resources.Language.HERE</a>. @Resources.Language.HOW_DO_I_REGISTER_AWNSER_2</p>

                <h3>@Resources.Language.CANT_REMEMBER</h3>

                    <p>@Resources.Language.CANT_REMEMBER_AWNSER_1 <a href="/Account/ForgotPassword">@Resources.Language.HERE</a> @Resources.Language.CANT_REMEMBER_AWNSER_2</p>

                <h3>@Resources.Language.HOW_DO_I_ACCESS_TO_MY_SECTION</h3>

                    <p>@Resources.Language.HOW_DO_I_ACCESS_TO_MY_SECTION_AWNSER_1</p>
                    <p>@Resources.Language.HOW_DO_I_ACCESS_TO_MY_SECTION_AWNSER_2 <a href="/Account/Register">@Resources.Language.HERE</a></p>

                <h3>@Resources.Language.HOW_DO_I_CHANGE_MY_INFO</h3>

                    <p>@Resources.Language.HOW_DO_I_CHANGE_MY_INFO_AWNSER_1</p>
 
                <h3>@Resources.Language.HOW_DO_I_CHANGE_MY_PHOTO</h3>

                <p>@Resources.Language.HOW_DO_I_CHANGE_MY_PHOTO_AWNSER_1</p>

                <h3>@Resources.Language.BAN_USER</h3>

                    <p>@Resources.Language.BAN_USER_AWNSER_1</p>

                <h3>@Resources.Language.BAN_USER_WHAT_FOR</h3>

                    <p>@Resources.Language.BAN_USER_WHAT_FOR_AWNSER_1</p>
                    <p>@Resources.Language.BAN_USER_WHAT_FOR_AWNSER_2</p>
       
                <h3>@Resources.Language.DELETE_MY_ACCOUNT</h3>
          
                    <p>@Resources.Language.DELETE_MY_ACCOUNT_AWNSER_1</p>
                    <p><span class="bold">@Resources.Language.REMEMBER</span> @Resources.Language.DELETE_MY_ACCOUNT_AWNSER_2</p>
                    <p>@Resources.Language.DELETE_MY_ACCOUNT_AWNSER_3</p>
          
                <h2>@Resources.Language.TRADE</h2>
                <h3>@Resources.Language.UPLOAD_INSTRUMENT</h3>
            
                    <p>@Resources.Language.UPLOAD_INSTRUMENT_AWNSER_1</p>
                    <p>@Resources.Language.UPLOAD_INSTRUMENT_AWNSER_2</p>
        
                <h3>@Resources.Language.ANNOUNCEMENT_EXPIRES</h3>
              
                    <p>@Resources.Language.ANNOUNCEMENT_EXPIRES_AWNSER_1</p>
                    <p>@Resources.Language.ANNOUNCEMENT_EXPIRES_AWNSER_2</p>
            
                <h3>@Resources.Language.DELETE_INSTRUMENT</h3>
            
                    <p>@Resources.Language.DELETE_INSTRUMENT_AWNSER_1</p>
                    <p>@Resources.Language.DELETE_INSTRUMENT_AWNSER_2</p>
          
                <h3>@Resources.Language.TRADE_SHOP</h3>
             
                    <p>@Resources.Language.TRADE_SHOP_AWNSER_1</p>
           
                <h3>@Resources.Language.CANT_SEE_ANNOUNCEMENT</h3>
              
                    <p>@Resources.Language.CANT_SEE_ANNOUNCEMENT_AWNSER_1</p>
                    <p>@Resources.Language.CANT_SEE_ANNOUNCEMENT_AWNSER_2</p>                          
            </div>
        </div>
    </div>
</section>