﻿@{
    ViewBag.Title = Resources.Language.INDEX;
}

<header>
    <div class="header-content">
        <div class="header-content-inner">           
                <img src="~/Images/App/Logo trademusic_todo_naranja.png" />
            <hr>
            <h2>@Resources.Language.RESUME!</h2>
            <a href="#about" id="btnFindout" class="btn btn-primary btn-xl page-scroll">@Resources.Language.FIND_OUT_MORE</a>
        </div>
    </div>
</header>

<section  id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">@Resources.Language.PHRASE</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <img class="instrument-icon" src="~/Images/App/search-Icon.png" />
                    <h3>@Resources.Language.STEP1</h3>
                    <p class="text-muted">@Resources.Language.STEP1_EXPLANATION</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <img class="instrument-icon" src="~/Images/App/trade-Icon.png" />
                    <h3>@Resources.Language.STEP2</h3>
                    <p class="text-muted">@Resources.Language.STEP2_EXPLANATION</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <img class="instrument-icon" src="~/Images/App/money-Icon.png" />
                    <h3>@Resources.Language.STEP3</h3>
                    <p class="text-muted">@Resources.Language.STEP3_EXPLANATION</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="services" class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">@Resources.Language.CHOOSE_A_TYPE_OF_INSTRUMENT</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <a href="@Url.Action("Index", "App", new { family = 5 }, "")">
                        <img class="instrument-icon" src="~/Images/App/Guitar.png" />
                        <h3>@Resources.Language.GUITARS</h3>
                        <p class="text-muted">@Resources.Language.GUITAR_EXPLANATION.</p>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <a href="@Url.Action("Index", "App", new { family = 9 },"")">
                        <img class="instrument-icon" src="~/Images/App/bass.png" />
                        <h3>@Resources.Language.BASSES</h3>
                        <p class="text-muted">@Resources.Language.BASS_EXPLANATION.</p>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <a href="@Url.Action("Index", "App", new { family = 13 },"")">
                        <img class="instrument-icon" src="~/Images/App/drum.png" />
                        <h3>@Resources.Language.DRUMS</h3>
                        <p class="text-muted">@Resources.Language.DRUMS_EXPLANATION.</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<aside >
    <div class="container text-center">
        <div class="col-md-3">
            <img src="~/Images/App/Smartphones2.png" />
        </div>
        <div class="col-md-9">
            <label id="lblIndexApp">@Resources.Language.MOBILE_APP_EXPLANATION</label> 
            <a id="btnIndexApp" href="https://play.google.com/store/apps/details?id=com.daniel.trademusic2" class="btn btn-primary btn-xl sr-button">@Resources.Language.DOWNLOAD_HERE</a>
        </div>
    </div>
</aside>
