﻿@model IEnumerable<Trademusic.Web.Models.App.InstrumentListViewModel>
@{
    ViewBag.Title = Resources.Language.MAP;
}

<link href="~/Content/map.css" rel="stylesheet"/>

<div id="locationField">
    <input id="autocomplete" placeholder="Enter a city" type="text" />
</div>

<div id="controls">

</div>

  <div id="map">
  </div>

<div id="listing">
    <table id="resultsTable">
        <tbody id="results"></tbody>
    </table>
</div>

<div style="display: none">
    <div id="info-content">
        <table>
            <tr id="iw-url-row" class="iw_table_row">
                <td id="iw-icon" class="iw_table_icon"></td>
                <td id=""></td>
            </tr>
            <tr id="iw-instrument-row" class="iw_table_row">
                <td class="iw_attribute_name">Instrumento:</td>
                <td id="iw-instrument"></td>
            </tr>
            <tr id="iw-price-row" class="iw_table_row">
                <td class="iw_attribute_name">Precio:</td>
                <td id="iw-price"></td>
            </tr>
        </table>
    </div>
</div>
<script src="/Scripts/jquery-2.2.3.js"></script>

<script>
    var map, places, infoWindow;
    var markers = [];
    var autocomplete;
    var countryRestrict = { 'country': 'es' };
    var MARKER_PATH = 'https://maps.gstatic.com/intl/en_us/mapfiles/marker_green';
    var hostnameRegexp = new RegExp('^https?://.+?/');

    //Método que inicia el mapa
    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            center: { lat: 40.5, lng: -3.7 },
            zoom: 6,
            mapTypeControl: false,
            panControl: false,
            zoomControl: false,
            streetViewControl: false,
        });

        infoWindow = new google.maps.InfoWindow({
            content: document.getElementById('info-content')
        });

        // Crea la caja de autocompletado y la asocia con la caja de texto.
        autocomplete = new google.maps.places.Autocomplete((
            document.getElementById('autocomplete')), {
            types: ['(cities)'],
            componentRestrictions: countryRestrict
        });
        places = new google.maps.places.PlacesService(map);

        autocomplete.addListener('place_changed', onPlaceChanged);
    }

    //Método que cambia el foco del mapa a la ciudad seleccionada
    function onPlaceChanged() {
        var place = autocomplete.getPlace();
        if (place.geometry) {
            map.panTo(place.geometry.location);
            map.setZoom(13);
            insertInstrumentos(place.name);
        } else {
            document.getElementById('autocomplete').placeholder = 'Escribe una ciudad';
        }
    }

    //Método que elimina las marcas en una nueva búsqueda
    function clearMarkers() {
        for (var i = 0; i < markers.length; i++) {
            if (markers[i]) {
                markers[i].setMap(null);
            }
        }
        markers = [];
    }

    //Método que lanza las marcas en los puntos del mapa donde hay resultados 
    function dropMarker(i) {
        return function() {
            markers[i].setMap(map);
        };
    }

    //Método de añadir los resultados 
    function addResult(result, i) {
        var results = document.getElementById('results');
        var markerLetter = String.fromCharCode('A'.charCodeAt(0) + i);
        var markerIcon = MARKER_PATH + markerLetter + '.png';
        $('#map').width('850px');
        var tr = document.createElement('tr');
        tr.style.backgroundColor = (i % 2 === 0 ? '#FFFFFF' : '#FFFFFF');
        tr.style.borderWidth = '1px';	
        tr.style.borderStyle = 'solid';
        tr.onclick = function() {
            google.maps.event.trigger(markers[i], 'click');          
        };

        var iconTd = document.createElement('td');
        var nameTd = document.createElement('td');
        var priceTd = document.createElement('td');
        var icon = document.createElement('img');
        icon.src = result.Image;
        icon.setAttribute('class', 'placeIcon');
        icon.setAttribute('className', 'placeIcon');
        var name = document.createTextNode(result.Brand + '-' + result.Model);
        nameTd.setAttribute('id', 'instName');
        var price = document.createTextNode(result.Price);
        iconTd.appendChild(icon);
        nameTd.appendChild(name);
        priceTd.appendChild(price);
        tr.appendChild(iconTd);
        tr.appendChild(nameTd);
        tr.appendChild(priceTd);
        results.appendChild(tr);
    }

    //Método que limpia los resultados
    function clearResults() {
        var results = document.getElementById('results');
        while (results.childNodes[0]) {
            results.removeChild(results.childNodes[0]);
        }
    }

    //Método que pinta la ventana emergente de la marca seleccionada
    function buildIWContent(results) {
        var  html =  '<img class="windowImg" ' + 'src="' + results.Image + '"/>' +
             '<p>' + '<b><a href="' + results.URL + '">' + results.Brand + '-' + results.Model + '</a></b>' + '&nbsp;&nbsp;' + '<b>' + results.Price + '</b>' + '<p>';
        return html;
    }

    //Método que trae los instrumentos de la BBDD para pintarlos en el mapa
    function insertInstrumentos(place) {
        $.ajax({
            url: '@Url.Action("MapData", "Home")',
            type: "post",
            data: "{'city': '" + place + "' }",
            dataType: 'json',
            contentType: "application/json; charset=utf-8",
            success: function (results) {

                clearResults();
                clearMarkers();
                var nums = results;
                // Crea una marca para cada instrumento
                for (var i = 0; i < results.length; i++) {
                    map.Width
                    var markerLetter = String.fromCharCode('A'.charCodeAt(0) + i);
                    var markerIcon = MARKER_PATH + markerLetter + '.png';
                    var myLatlng = new google.maps.LatLng(parseFloat(results[i].Latitude), parseFloat(results[i].Longitude));
                    // Usa la animación para que caigan las marcas en el mapa
                    markers[i] = new google.maps.Marker({
                        position: myLatlng,
                        animation: google.maps.Animation.DROP,
                        icon: markerIcon,
                        html: buildIWContent(results[i])
                    });
                    // Si se pulsa sobre una marca, se mostrará una ventana de información del instrumento seleccionado
                    markers[i].placeResult = results[i];
                    google.maps.event.addListener(markers[i], 'click', function () {
                        var marker = this;
                        infoWindow.setContent(this.html);
                        infoWindow.open(map, marker);
                        var latLng = marker.getPosition();
                        nums;
                        map.setCenter(latLng);
                    });
                    setTimeout(dropMarker(i), i * 100);
                    addResult(results[i], i);
                }
            }
        });
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAWIlRyhaewhhhpdf_POXBdFSbdP4uJm_U&libraries=places&callback=initMap" async defer></script>

