﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = Resources.Language.TRADING_RULES;
}

<section id="appIndex">
    <div class="container">
        <div class="row" id="seccionContenedorTexto">
            <h1>@Resources.Language.TRADING_RULES</h1>
            <div>
                <h2>@Resources.Language.GENERAL_RULES</h2>
                <p>
                    @Resources.Language.GENERAL_RULES_1
                </p>
                <p>
                    @Resources.Language.GENERAL_RULES_2
                </p>
                <p>
                    @Resources.Language.GENERAL_RULES_3
                </p>
                <p>
                    @Resources.Language.GENERAL_RULES_4
                </p>
                <p>
                    @Resources.Language.GENERAL_RULES_5
                </p>
                <p>
                    @Resources.Language.GENERAL_RULES_6
                </p>
                <p>
                    @Resources.Language.GENERAL_RULES_7
                </p>
                <p>
                    @Resources.Language.GENERAL_RULES_8
                </p>
                <p>
                    @Resources.Language.GENERAL_RULES_9
                </p>
                <p>
                    @Resources.Language.GENERAL_RULES_10
                </p>
                <p>
                    @Resources.Language.GENERAL_RULES_11
                </p>
                <p>
                    @Resources.Language.GENERAL_RULES_12
                </p>
                <p>
                    @Resources.Language.GENERAL_RULES_13
                </p>
                <p>
                    @Resources.Language.GENERAL_RULES_14
                </p>
                <p>
                    @Resources.Language.GENERAL_RULES_15
                </p>
                <h2>@Resources.Language.BUYING_ADVICES</h2>
                <p>
                    @Resources.Language.BUYING_ADVICES_1
                </p>
                <p>
                    @Resources.Language.BUYING_ADVICES_2
                </p>
                <p>
                    @Resources.Language.BUYING_ADVICES_3
                </p>
                <p>
                    @Resources.Language.BUYING_ADVICES_4
                </p>
                <p>
                    @Resources.Language.BUYING_ADVICES_5
                </p>
                <p>
                    @Resources.Language.BUYING_ADVICES_6
                </p>
                <h2>@Resources.Language.SELLING_ADVICES</h2>
                <p>
                    @Resources.Language.SELLING_ADVICES_1
                </p>
                <p>
                    @Resources.Language.SELLING_ADVICES_2
                </p>
                <p>
                    @Resources.Language.SELLING_ADVICES_3
                </p>
                <h2>@Resources.Language.TREATMENT</h2>
                <p>
                    @Resources.Language.TREATMENT_1
                </p>
                <p>
                    @Resources.Language.TREATMENT_2
                </p>
                <p>
                    @Resources.Language.TREATMENT_3
                </p>
                <p>
                    @Resources.Language.TREATMENT_4
                </p>
            </div>
        </div>
    </div>
</section>