﻿@model Trademusic.Web.Areas.Admin.Models.Message.MessageCreateViewModel
@{
    ViewBag.Title = Resources.Language.ADMINISTRATION;
}
<h2 class="adminTitle">Editar mensaje</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal" id="formAdmin">
        @Html.HiddenFor(m => m.Message.Id)
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.Label("Instrumento", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Message.InstrumentId, Model.Instrument, new { @class = "ddlAdmin form-control" })
                @Html.ValidationMessageFor(model => model.Message.InstrumentId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Usuario", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Message.User.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Message.User.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Email", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Message.User.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Message.User.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Fecha", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Message.DateTime, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Message.DateTime, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Texto", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Message.Text, new { @class = "form-control"})
                @Html.ValidationMessageFor(model => model.Message.Text, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Editar" class="btn btn-primary" id="btnAdmin" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Volver al listado", "Index", "", new { @class = "btnVolver" })
</div>



