﻿@model IEnumerable<Trademusic.Web.Areas.Admin.Models.Message.MessageIndexViewModel>
@{
    ViewBag.Title = Resources.Language.ADMINISTRATION;
}
<h2>Listado de mensajes</h2>

<div class="row">
    <table id="DataTable" class="display col-sm-12" cellspacing="0">
        <thead>
            <tr>
                <th></th>
                <th>
                    Instrumento
                </th>
                <th>
                    Usuario
                </th>
                <th>
                    Fecha
                </th>
                <th>
                    Texto
                </th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@section Scripts
{

    <script type="text/javascript">
        $(document).ready(function () {
        var table = $('#DataTable').DataTable({
            "bProcessing": true,
            "bServerSide": true,
            "oLanguage": { "sUrl": "//cdn.datatables.net/plug-ins/1.10.7/i18n/Spanish.json" },
            "columnDefs": [
            {
                "render": function (data, type, row) {
                    return "<a data-id='" + data + "' href='@Url.Action("Edit")/" + data + "@(Request.QueryString.Count!=0 ? "?" + Request.QueryString : "")" + "' class='btn btn-pink'>Editar</a>";
                    },
                    width: "1%",
                    "targets": 0
            },
                    {
                        "render": function (data, type, row) {
                            return moment(data).format('L');
                        },
                        "targets": 3
                    }
            ],
                "sAjaxSource": "@Url.Action("IndexData")",
                "fnServerData": function (sSource, aoData, fnCallback) {
                    $.ajax({
                        "dataType": 'json',
                        "contentType": "application/json; charset=utf-8",
                        "type": "GET",
                        "url": sSource,
                        "data": aoData,
                        "success": function (msg) {
                            fnCallback(msg);
                            $("#DataTable").show();
                        },
                        error: function (xhr, textStatus, error) {
                            if (typeof console == "object") {
                                console.log(xhr.status + "," + xhr.responseText + "," + textStatus + "," + error);
                            }
                        }
                    });
                }
            });
        });
    </script>
}


