﻿@model Trademusic.Web.Areas.Admin.Models.Family.FamilyCreateViewModel

@{
    ViewBag.Title = Resources.Language.ADMINISTRATION;
}

<h2 class="adminTitle">Nueva familia</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal" id="formAdmin">
 
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.Label("Nombre", new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.Family.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Family.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Nombre en Inglés", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Family.EnglishName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Family.EnglishName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Padre", "Padre", new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.DropDownList("Parent", null, new { @class = "ddlAdmin form-control" })
                @Html.ValidationMessageFor(model => model.Family.ParentId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-7">
                <input type="submit" value="Crear" class="btn btn-primary" id="btnAdmin" />
            </div>
        </div>
    </div>
}

<div >
    @Html.ActionLink("Volver al listado", "Index","",  new { @class="btnVolver"})
</div>


