﻿@model IEnumerable<Trademusic.Web.Areas.Admin.Models.User.UserIndexViewModel>
@{
    ViewBag.Title = Resources.Language.ADMINISTRATION;
}
<h2 class="adminTitle">Listado de usuarios</h2>

<div class="row">
    <table id="DataTable" class="display col-sm-12" cellspacing="0">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Nombre
                </th>
                <th>
                    Primer apellido
                </th>
                <th>
                    Segundo apellido
                </th>
                <th>
                    Dirección
                </th>
                <th>
                    Código postal
                </th>
                <th>
                    Ciudad
                </th>
                <th>
                    Email
                </th>
                <th>
                    Contraseña
                </th>
                <th>
                    Latitud
                </th>
                <th>
                    Longitud
                </th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@section Scripts
{
    <script type="text/javascript">
    $(document).ready(function () {
        var table = $('#DataTable').DataTable({
            "bProcessing": true,
            "bServerSide": true,
            "oLanguage": { "sUrl": "//cdn.datatables.net/plug-ins/1.10.7/i18n/Spanish.json" },
            "columnDefs": [
            {
                
                }],
                "sAjaxSource": "@Url.Action("IndexData")",
                "fnServerData": function (sSource, aoData, fnCallback) {
                    $.ajax({
                        "dataType": 'json',
                        "contentType": "application/json; charset=utf-8",
                        "type": "GET",
                        "url": sSource,
                        "data": aoData,
                        "success": function (msg) {
                            fnCallback(msg);
                            $("#DataTable").show();
                        },
                        error: function (xhr, textStatus, error) {
                            if (typeof console == "object") {
                                console.log(xhr.status + "," + xhr.responseText + "," + textStatus + "," + error);
                            }
                        }
                    });
                }
            });
        });
    </script>
}

