﻿

/*nuevos estilos hoteles*/
        table {
            font-size: 20px;
        }

        #map {
            width: 100%;
            height: 700px;
        }

        #listing {
            position: absolute;
            width: 650px;
            height: 700px;
            overflow: auto;
            left: 850px;
            top: 50px;
            cursor: pointer;
            overflow-x: hidden;
        }

        #locationField {
            position: relative;
            width: 190px;
            height: 25px;
            left: 200px;
            top: 40px;
            z-index: 5;
            background-color: #fff;
        }

        #controls {
            position: absolute;
            left: 300px;
            width: 140px;
            top: 0px;
            z-index: 5;
            background-color: #fff;
        }

        #autocomplete {
            width: 100%;
        }

        #capaMapa {
            display:none;
            background-color:white;
            position:static;
            top:50%;
            left:50%;
            width:600px;
            height:400px;
            margin-top:-200px;
            margin-left:-300px;
            z-index:9900;
        }      

        .placeIcon {
            width: 150px;
            height: 150px;
            margin: 4px;
        }

        .hotelIcon {
            width: 24px;
            height: 24px;
        }

        #resultsTable {
            border-collapse: collapse;
            width: 640px;
            height: 500px;
        }

        #rating {
            font-size: 13px;
            font-family: Arial Unicode MS;
        }

        .iw_table_row {
            height: 18px;
        }

        .iw_attribute_name {
            font-weight: bold;
            text-align: right;
        }

        .iw_table_icon {
            text-align: right;
        }

        .windowImg{
            width: 80px;
            height: 80px;
            margin: 4px;
        }
    