﻿@using Trademusic.Web.Models
@model Trademusic.Web.Models.LoginViewModel
@{
    ViewBag.Title = "Login";
}

<h2 id="tituloFormLogin">@Resources.Language.LOGIN</h2>
<h4 id="textoFormLogin">@Resources.Language.USE_A_LOCAL_ACCOUNT</h4>
<legend class="recuadroLogin">
    <div class="row">
        <div class="col-md-12">
            <section id="loginForm">
                @using (Html.BeginForm("Login", "Account", new { ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                    @Html.AntiForgeryToken()

                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.Label(Resources.Language.EMAIL, new { @class = "col-md-3 control-label" })
                        <div class="col-md-7">
                            <div class="txtRegister">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label(Resources.Language.PASSWORD, new { @class = "col-md-3 control-label" })
                        <div class="col-md-7">
                            <div class="txtRegister">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-3 col-md-7">
                            <div class="txtRegister">
                                <div class="checkbox" id="RememberMe">
                                    @Html.CheckBoxFor(m => m.RememberMe, new { @id = "chkRememberMe" })
                                    @Html.Label(Resources.Language.REMEMBER_ME, new { @id = "lblRememberMe" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-10 ">
                            <input type="submit" value="@Resources.Language.LOGIN" class="btn btn-primary btn-xl page-scroll" id="btnLogin" />
                        </div>
                    </div>
                    <p>
                        @Html.ActionLink(Resources.Language.REGISTER_AS_A_NEW_USER, "Register","", new { @id = "txtRegisterAsANewUser" })
                    </p>
                }
            </section>
        </div>
    </div>
</legend>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
