﻿@model Trademusic.Web.Models.RegisterViewModel
@{
    ViewBag.Title = Resources.Language.REGISTER;
}

<h2 class="tituloForm">@Resources.Language.REGISTER</h2>
<h4 class="textoForm">@Resources.Language.INSERT_YOUR_PERSONAL_INFORMATION:</h4>
<hr />
<legend class="recuadro">
    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "contactForm", name = "contactForm" }))
    {
        @Html.AntiForgeryToken()
        <div class="formulario">
            <div class="form-group" id="formulario">
                @Html.Label(Resources.Language.NAME, new { @class = "col-md-3 control-label" })
                <div class="col-md-7">
                    <div class="txtRegister">
                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                @Html.Label(Resources.Language.SURNAME1, new { @class = "col-md-3 control-label" })
                <div class="col-md-7">
                    <div class="txtRegister">
                        @Html.TextBoxFor(m => m.SurName1, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.SurName1, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                @Html.Label(Resources.Language.SURNAME2, new { @class = "col-md-3 control-label" })
                <div class="col-md-7">
                    <div class="txtRegister">
                        @Html.TextBoxFor(m => m.SurName2, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.SurName2, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                @Html.Label(Resources.Language.ADDRESS, new { @class = "col-md-3 control-label" })
                <div class="col-md-7">
                    <div class="txtRegister">
                        @Html.TextBoxFor(m => m.Address, new { @class = "form-control", @id = "address" })
                        @Html.ValidationMessageFor(m => m.Address, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                @Html.Label(Resources.Language.ZIPCODE, new { @class = "col-md-3 control-label" })
                <div class="col-md-7">
                    <div class="txtRegister">
                        @Html.TextBoxFor(m => m.ZipCode, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.ZipCode, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                @Html.Label(Resources.Language.CITY, new { @class = "col-md-3 control-label" })
                <div class="col-md-7">
                    <div class="txtRegister">
                        @Html.TextBoxFor(m => m.City, new { @class = "form-control", @id = "city" })
                        @Html.ValidationMessageFor(m => m.City, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                @Html.Label(Resources.Language.EMAIL, new { @class = "col-md-3 control-label" })
                <div class="col-md-7">
                    <div class="txtRegister">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                @Html.Label(Resources.Language.PASSWORD, new { @class = "col-md-3 control-label" })
                <div class="col-md-7">
                    <div class="txtRegister">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                @Html.Label(Resources.Language.CONFIRM_PASSWORD, new { @class = "col-md-3 control-label" })
                <div class="col-md-7">
                    <div class="txtRegister">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>            
            <div class="form-group">
                <div class="col-md-7">
                    @Html.TextBoxFor(m => m.Latitude, new { @class = "form-control", @id = "latitude" })
                    @Html.TextBoxFor(m => m.Longitude, new { @class = "form-control", @id = "longitude" })
                </div>
            </div>
            <input class="btn btn-primary btn-xl page-scroll" value="@Resources.Language.REGISTER" id="btnRegister" data-toggle="modal" data-target="#myModal" />  
        </div>     
    }   
</legend>

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p>@Resources.Language.CONFIRM_INFO</p>
            </div>
            <div class="modal-footer">
                <input type="submit" class="btn btn-default" data-dismiss="modal" value="@Resources.Language.CONFIRM" id="btnConfirm">
                <button type="button" class="btn btn-default" data-dismiss="modal">@Resources.Language.BACK</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAWIlRyhaewhhhpdf_POXBdFSbdP4uJm_U"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            //Método que calcula la longitud y latitud de una dirección y las pinta en cajas de texto ocultas
            $("#btnRegister").click(function () {
                var address = $("#address").val();
                var city = $("#city").val();
                var geocoder = new google.maps.Geocoder();
                geocoder.geocode({ 'address': address + ',' + city }, function (results, status) {
                    if (status === google.maps.GeocoderStatus.OK) {
                        $("#latitude").val(results[0].geometry.location.lat());
                        debugger;
                        $("#longitude").val(results[0].geometry.location.lng());
                    } else {
                        alert("La dirección no existe.");
                        return false;
                    }
                });

                //Método de confirmación del formulario desde la modal
                $("#btnConfirm").click(function () {
                     $('#contactForm').submit()                  
                });
            });
        });
    </script>
}
