﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trademusic - @ViewBag.Title</title>

    @Styles.Render("~/Content/css")
    <link rel="stylesheet" href="~/Content/bootstrap.css"> 
    @Styles.Render("~/Content/template")
    @Styles.Render("~/Content/creative")
   
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">

    @*Estilos de la ventana modal de nuevo mensaje*@
    <style>
        .modal-content {
            width: 600px !important;
            margin: 30px auto !important;
        }
    </style>
</head>
<body class="landing" id="cuerpo">
<div id="page-wrapper">
    <!-- Header -->
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Trademusic", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            @Html.Action("Menu", "Home")
        </div>
    </nav>
    <!-- /Header -->
    <!-- Body -->
    <div>
        @RenderBody()
    </div>
    <!-- /Body -->
    <!-- Footer -->
    <section id="footer">
        <div class="container">
            <div class="row">
                <div class="footerRow col-sm-2">
                    <div class="single-widget">
                        <h2 class="section-heading-footer">@Resources.Language.SERVICES</h2>
                        <ul class="nav nav-pills nav-stacked">
                            <li>
                                @Html.ActionLink(Resources.Language.MAP, "Map", "Home", "", new { @class = "" })
                            </li>
                            <li>@Html.ActionLink(Resources.Language.TRADING_RULES, "TradingRules", "Home", "", new { @class = "" })</li>
                            <li>
                                @Html.ActionLink(Resources.Language.HELP, "Help", "Home", "", new { @class = "" })
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="footerRow col-sm-2">
                    <div class="single-widget">
                        <h2 class="section-heading-footer">@Resources.Language.GUITARS</h2>
                        <ul class="nav nav-pills nav-stacked">
                            <li>
                                @Html.ActionLink(Resources.Language.ELECTRIC_GUITARS, "Index", "App", new { family = 5 }, new { @class = "" })
                            </li>
                            <li>
                                @Html.ActionLink(Resources.Language.ACUSTIC_GUITARS, "Index", "App", new { family = 6 }, new { @class = "" })
                            </li>
                            <li>
                                @Html.ActionLink(Resources.Language.GUITAR_AMPS, "Index", "App", new { family = 7 }, new { @class = "" })
                            </li>
                            <li>
                                @Html.ActionLink(Resources.Language.GUITAR_EFECTS, "Index", "App", new { family = 8 }, new { @class = "" })
                            </li>
                        </ul>
                    </div>
                </div>              
                <div class="footerRow col-sm-2">
                    <div class="single-widget">
                        <h2 class="section-heading-footer">@Resources.Language.BASSES</h2>
                        <ul class="nav nav-pills nav-stacked">
                            <li>
                                @Html.ActionLink(Resources.Language.ELECTRIC_BASSES, "Index", "App", new { family = 9 }, new { @class = "" })
                            </li>
                            <li>
                                @Html.ActionLink(Resources.Language.ACUSTIC_BASSES, "Index", "App", new { family = 10 }, new { @class = "" })
                            </li>
                            <li>
                                @Html.ActionLink(Resources.Language.BASS_AMPS, "Index", "App", new { family = 11 }, new { @class = "" })
                            </li>
                            <li>
                                @Html.ActionLink(Resources.Language.BASS_EFECTS, "Index", "App", new { family = 12 }, new { @class = "" })
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="footerRow col-sm-2">
                    <div class="single-widget">
                        <h2 class="section-heading-footer">@Resources.Language.DRUMS</h2>
                        <ul class="nav nav-pills nav-stacked">
                            <li>
                                @Html.ActionLink(Resources.Language.DRUMS, "Index", "App", new { family = 13 }, new { @class = "" })
                            </li>
                            <li>
                                @Html.ActionLink(Resources.Language.DRUM_PARTS, "Index", "App", new { family = 14 }, new { @class = "" })
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /Footer -->
    @Scripts.Render("~/bundles/jquery")
    <script type="text/javascript">
        $(function() {

            // Inicializa la ventana modal
            $('body').on('click', '.modal-link', function(e) {
                e.preventDefault();
                $(this).attr('data-target', '#modal-container');
                $(this).attr('data-toggle', 'modal');
            });

            //Botón para cerrar la modal
            $('body').on('click', '.modal-close-btn', function() {
                $('#modal-container').modal('hide');
            });

            //Limpia el contenido de la modal, para que pueda ser reutiliazda
            $('#modal-container').on('hidden.bs.modal', function() {
                $(this).removeData('bs.modal');
            });

            //Botón para cancelar la modal
            $('#CancelModal').on('click', function() {
                return false;
            });
        });
    </script>
</div>   
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/template")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/zoom")
    @Scripts.Render("~/bundles/creative")
    @RenderSection("scripts", required: false)
</body>
</html>
