﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @{Html.RenderAction("MessageSummary", "UserSection");}
        </li>
        <li>
            @Html.ActionLink(Resources.Language.WELCOME + " " + User.Identity.GetUserName() + "!", "", "", null, new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">@Resources.Language.LOGOFF</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink(Resources.Language.REGISTER, "Register", "Account", null, new { id = "registerLink" })</li>
        <li>@Html.ActionLink(Resources.Language.LOGIN, "Login", "Account", null, new { id = "loginLink" })</li>
    </ul>
}
